
.container{
    text-align: center;
}
#d-img{
    height:initial;
    width: 100%;
}
.top{
    transform:translate(0px,105px);
    color: white;

}
#d-img{
    margin-top: -300px;
}
#mouse{
    transform: translate(0px,100px);
}
#logo{
    padding: 8px;
}
.aboutus{

padding-bottom: 20px;}
#services{
    width: 100%;
    margin-top: -150px;
}
.serve{
    transform: translate(0px,10px);
    color: white;
}
#design-text{
    display: none;
    left:50%;
    bottom: 50%;
}
#development-text{
    display: none;
}
#product-text{
    display: none;
}
body{
    overflow-x: hidden;
    background-color: bisque;
}
.portfolio {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.portfolio-images {
    display: flex;
    cursor: pointer;
}

.work {
    flex: 25%;
    padding: 5px;
    position: relative;
}
.contact{
    transform: translateY(220px);
    color: white;
    background-color: transparent;
}
#contact{
    width: 100%;
}
.contact-us{
    margin-top: -200px;
}
.col{
    padding: 20px;
}
#name{
    background-color: transparent;
    border: 1px solid white;
    margin-right: 5px;
}
#email{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 5px;
}
#textarea{
    background-color: transparent;
    border: 1px solid white;
}
::placeholder{

color: white;
}
.social{
    background-color:rgba(228, 214, 214, 0.644) ;
}
.footer{
    padding: 5px;
    margin-top: 20PX;
}
